body {
  background-color: #dce9e0;
  color: #14641a;
}

body h1
h2 {
  color: #090a0a;
}

body h3,
body h4,
body h5,
body h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #e3eee8;
}

body p {
  padding: 0em 60px;
  font-size: 2rem;
}

body a {
  color: #1e5f1e;
  text-decoration: none;
}

body ul {
  list-style: none;
  margin: 10px;
  padding: 10px;
}

body li {
  list-style: none;
}

.footer {
  background-color: black;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid_container .grid__item {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #ddaa67;
  transition-duration: 0.3s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid_container .grid_item:hover {
  filter: opacity(0.9);
  transform: scale(1.5);
}

/*               a n i m a s i o n                 */
.animasion_cotainer {
  width: 100%;
  margin: center;
  overflow: hidden;
}

.animasion_cotainer .animasion_ul {
  display: flex;
  padding: 0%;
  width: 200%;
  animation: cambio 20s infinite;
  animation-timing-function: ease-in;
}

.animasion_cotainer .animasion_li {
  width: 100%;
  list-style: none;
}

.animasion_cotainer .animasion_img {
  width: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  30% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
}

/*g r a d i e n t e s*/
.linear {
  background: #093028;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #093028, #237a57);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 10px;
}

/*g r a d i e n t e s*/
/*               boton flotante               */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

/*               boton  flotante          */
.span {
  background-color: aliceblue;
}

.parrafo {
  padding-top: 15px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 15px;
  line-height: 30px;
  text-align: center;
}

.sobre_nosotros {
  padding-top: 10px;
  font-family: sans-serif;
  text-align: center;
  letter-spacing: 10px;
  font-size: 60px;
  margin: 10px;
}
#formulario {
  margin: 50pxm;
  padding: 20px;
}

#formulario .center {
  padding: 20px;
}

#formulario input,
#formulario label {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.form__style {
  background-color: var(--footer-style);
  color: var(--footer-fontColor);
}

.footer__container {
  padding-bottom: 6rem;
}

.form__title {
  margin: 2rem 0 4rem 0;
}
/*# sourceMappingURL=style.css.map */